[syslog.error]
1001 = level:2, regex:^Couldn't open /etc/securetty, description:File missing. Root access unrestricted.
1002 = level:2, regex:core_dumped|failure|error|attack| bad |illegal |denied|refused|unauthorized|fatal|failed|Segmentation Fault|Corrupted, options:alert_by_email, description:Unknown problem somewhere in the system
1003 = level:13, maxsize:1025, description:Non standard syslog message (size too large).
1004 = level:5, regex:^exiting on signal, description:Syslogd exiting (logging stopped).
1005 = level:5, regex:syslogd, regex:^restart, description: Syslogd restarted.
1006 = level:5, regex:^syslogd \S+ restart, description: Syslogd restarted.
1007 = level:7, regex:file system full|No space left on device, description: File system full., group: low_diskspace
1008 = level:5, regex:killed by SIGTERM, description: Process exiting (killed)., group:service_availability,
1009 = level:0, regex:terminated without error|can't verify hostname: getaddrinfo|PPM exceeds tolerance, description: Ignoring known false positives on rule 1002..
1010 = level:5, regex:segfault at, description:Process segfaulted., group:service_availability,
