[syslog]
read_path    = /var/log/auth.log, /var/log/dpkg.log, /var/log/syslog
json_attributes = TimeGenerated, UserLoginId, ServiceName ,Message, LogLevel, LogCategory
log_levels = all, critical, debug, warning, error; core_dumped|failure|error|attack| bad |illegal |denied|refused|unauthorized|fatal|failed|Segmentation Fault|Corrupted
time_pattern = ;0 */1 * * * * 
storage_type = archive
delimeter = 
remote = n
format = syslog
 
[applog]
list = bankapp

[bankapp]
name = bankapp
log_directory = /home/pravin/Documents/bankAppLogs
write_path = /etc/scl/log/bankapp.json
delimeter = ,
json_attributes = TimeGenerated,UserLoginId,LogLevel,Priority,Message
log_levels = critical, debug, warning, info, none
format = 

[agentapp]
name = agentapp
log_directory = /home/pravin/Documents/bankAppLogs
write_path = /etc/scl/log/agentapp.json
delimeter = ,
columns = TimeGenerated,UserLoginId,LogLevel,Priority,Message
level = critical, debug, warning, info, none
queue = logQueue
last_time = /etc/scl/temp/agentapp.txt
format = 

[process]
write_path = 
time_pattern = 
storage_type = json

[firmware]
application = agent
application_root_path = /etc/scl/bin/ ; where the application binary to be uploaded
write_path = /etc/scl/tmp/patch ; Temproary directory to download the file.
ca_cert_path = 
client_cert_path = 
url = sftp://test.rebex.net/pub/example/readme.txt
username = demo
password = password
max_download_speed = 4096
min_download_speed = 1024
retry_time_out = 30
retry_count = 5

[analysis]
log_path     = /home/champ/scm/config/syslog
decoder_path = /etc/scl/decoder/decoder.xml
rules_path   = /home/champ/scm/rules/syslog_rules.xml
write_path   = 
time_pattern = 0 */10 * * * * 
storage_type = json

[cloud] 
logs_post_url      = http://localhost:5000/Security/Api/Logs/AddLog
ids_post_url       = 
resources_post_url = http://localhost:5000/Security/Api/Process/AddProcess
mqtt_post_url      =
firmware_get_url   =  
ca_cert_path       = 
client_cert_path   = 
client_private_key_path = 

[mqtt]
client_id = paho_c++_client
address = tcp://localhost:1883; here you can update the port number and address.
server_address = localhost
port = 1883
topics = client
ca_pem = /etc/zkey/repository/keys/ca/ca_cert.pem
client_cert_pem = /etc/zkey/repository/keys/client/client_cert.pem
client_key_pem = /etc/zkey/repository/keys/client/private/client_key.pem

[connection]
host_address = 127.0.0.1
port = 8888
ca_cert_path=/etc/zkey/repository/keys/ca/ca_cert.pem
client_cert_path=/etc/zkey/repository/keys/client/client_cert.pem
client_private_key_path=/etc/zkey/repository/keys/client/private/client_key.pem

[rootkit]
file_path = /etc/scl/ids/rootkit_files.txt
trojan_path = /etc/scl/ids/rootkit_trojans.txt
